
.main{
  text-align: center;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background-image: url("http://sbpizzapie.com/images/background.jpg");

}
.first{
  text-align: center;
  margin-top:5%; 
}
.second{
  text-align: center;
  margin-top:5%; 
}
.three{
  margin-top: 10%;
  margin-right: 20%;
}